<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-300 flex items-center justify-center">
        <div class="w-96 bg-zinc-200 h-[50vh] px-10 py-10 rounded-md">
            <h1 class="text-3xl text-center tracking-tighter leading-none font-semibold text-zinc-700">Welcome To Pinterest</h1>
            <form action="/login" method="post">
                <input class="block mt-3 w-full px-3 py-2 bg-zinc-100 rounded-md " type="text" name="username" placeholder="username">
                <input class="block mt-2 w-full px-3 py-2  bg-zinc-100 rounded-md" type="password" name="password" placeholder="password">
                <a class="mt-2 block font-semibold text-zinc-500" href="">Forget password ?</a>
                <input class="block mt-2 w-full px-3 py-2 bg-red-600 text-white rounded-full" type="submit" value="Login">
            </form>
            <a class="block mt-5 text-sm font-semibold text-zinc-700 text-center" href="/register">Don't have an account ? </a>
        </div>
    </div>
</body>
</html>